$font_color: #D0FFD0;
$bg_color: #212121;
$canvas_color: #FFFFEE;
$selected_color: #777777;

* {
  margin: 0;
  padding: 0;
  font-family: Trebuchet ms, Verdana, Myriad Web, Syntax, sans-serif
}

body {
  color: $font_color;
  background-color: $bg_color;
  width: 1000px;
  margin: 20px auto;
}

header {
  display: block;
  #title {
    position: absolute;
    top: 15px;
    width: 200px;
    margin-left: -10px;
    .titleChr {
      font-size: 28px;
      &:first-child {
        font-size: 36px;
      }
    }
  }
}

#main {
  #formBox {
    float: right;
    height: 25px;
    margin: -10px 5px 5px 0;
    #formToggle {
      float: right;
      margin-right: 10px;
    }
    #imgurlForm {
      display: none;
      float: right;
    }
  }
  #topNavigator {
    clear: right;
    overflow: auto;
    margin-bottom: 8px;
    .nav {
      float: right;
      height: 28px;
      width: 70px;
      text-align: center;
      &:first-child {
        -webkit-border-right-top-radius: 4px;
        -moz-border-radius-topright: 4px;
        -webkit-border-right-bottom-radius: 4px;
        -moz-border-radius-bottomright: 4px;
      }
      &:last-child {
        -webkit-border-left-top-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -webkit-border-left-bottom-radius: 4px;
        -moz-border-radius-bottomleft: 4px;
      }
    }

    .pen {
      width: 50px;
    }
    #eraser {
      color: $bg_color;
    }
    #reset {
      background-color: $selected_color;
    }
  }
  #canvas {
    background-color: $canvas_color;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
  }
  #seriesSelector {
    overflow: auto;
    .seriesName {
      float: left;
      font-size: 12pt;
      margin: 5px 5px 0 0;
      padding: 3px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
    }
  }
  #colorPalette {
    overflow: auto;
    margin-top: 8px;
    padding: 3px;
    border: thin solid $canvas_color;
    .color {
      float: left;
      width: 120px;
      height: 35px;
      font-size: 10pt;
      text-align: right;
      border: thin solid $bg_color;
      padding-right: 2px;
    }
  }
}

footer {
  display: block;
  height: 30px;
  text-align: center;
  margin-top: 20px;
  a {
    text-decoration: none;
    color: $font_color;
    &:visited {
      color: $font_color;
    }
  }
}